/* ----- Colors ----- */
@font-face {
  font-family: 'effralight';
  src: url("../font/EffraLight-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'effraregular';
  src: url("../font/Effra-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'adam';
  src: url("../font/adam.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body, html {
  height: 100%;
  font-family: 'effraregular', Helvetica, Arial, sans-serif; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #000; }

h1 {
  text-align: center;
  font-size: 1.8em;
  font-weight: normal; }

h2 {
  text-align: center;
  font-size: 1.3em;
  font-weight: normal; }

h3 {
  font-size: 1em;
  font-weight: normal; }

button, .button {
  border: 0;
  background-color: #e7743b;
  color: #FFF;
  border-radius: 2px;
  width: 100px;
  display: block;
  text-align: center;
  height: 28px;
  line-height: 28px;
  -moz-box-shadow: 0px 2px 0px 0px #444;
  -webkit-box-shadow: 0px 2px 0px 0px #444;
  -o-box-shadow: 0px 2px 0px 0px #444;
  box-shadow: 0px 2px 0px 0px #444;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#444, Direction=180, Strength=0); }
  button:hover, .button:hover {
    background-color: #e66525;
    cursor: pointer; }
  button.greenbutton, .button.greenbutton {
    background-color: #6fc38e; }
    button.greenbutton:hover, .button.greenbutton:hover {
      background-color: #62bf7f; }

#container {
  overflow: hidden;
  /*background: url(../img/bg_day.jpg) no-repeat;*/
  background-size: cover;
  background-attachment: fixed;
  height: 100%; }
  #container.sunrise {
    background: #f2eed5;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f2eed5 0%, #63b6ff 99%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2eed5), color-stop(99%, #63b6ff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f2eed5 0%, #63b6ff 99%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f2eed5 0%, #63b6ff 99%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f2eed5 0%, #63b6ff 99%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f2eed5 0%, #63b6ff 99%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2eed5', endColorstr='#63b6ff',GradientType=0 );
    /* IE6-9 */ }
  #container.day {
    background: #4acde8;
    /* Old browsers */
    background: -moz-linear-gradient(top, #4acde8 0%, #0a84ff 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4acde8), color-stop(100%, #0a84ff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4acde8 0%, #0a84ff 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4acde8 0%, #0a84ff 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4acde8 0%, #0a84ff 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #4acde8 0%, #0a84ff 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4acde8', endColorstr='#0a84ff',GradientType=0 );
    /* IE6-9 */ }
  #container.sunset {
    background: #243c6c;
    /* Old browsers */
    background: -moz-linear-gradient(top, #243c6c 0%, #c75d5a 99%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #243c6c), color-stop(99%, #c75d5a));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #243c6c 0%, #c75d5a 99%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #243c6c 0%, #c75d5a 99%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #243c6c 0%, #c75d5a 99%);
    /* IE10+ */
    background: linear-gradient(to bottom, #243c6c 0%, #c75d5a 99%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#243c6c', endColorstr='#c75d5a',GradientType=0 );
    /* IE6-9 */ }
  #container.endsunset {
    background: #243c6c;
    /* Old browsers */
    background: -moz-linear-gradient(top, #243c6c 0%, #3d0335 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #243c6c), color-stop(100%, #3d0335));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #243c6c 0%, #3d0335 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #243c6c 0%, #3d0335 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #243c6c 0%, #3d0335 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #243c6c 0%, #3d0335 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#243c6c', endColorstr='#3d0335',GradientType=0 );
    /* IE6-9 */ }
  #container.night {
    background: #243c6c;
    /* Old browsers */
    background: -moz-linear-gradient(top, #243c6c 0%, #060233 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #243c6c), color-stop(100%, #060233));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #243c6c 0%, #060233 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #243c6c 0%, #060233 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #243c6c 0%, #060233 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #243c6c 0%, #060233 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#243c6c', endColorstr='#060233',GradientType=0 );
    /* IE6-9 */ }
  #container #content {
    float: right;
    width: 90%;
    height: 100%;
    position: relative; }
    #container #content .block_content {
      background: #FFF;
      padding: 10px;
      width: 75%;
      height: 80%;
      margin: 0 auto;
      margin-top: 5%; }
      #container #content .block_content .block {
        width: 40%;
        height: 80%;
        background-color: #f5f6f1;
        margin: 0 5%; }
        #container #content .block_content .block .content_block {
          width: 90%;
          margin: 0 auto; }
          #container #content .block_content .block .content_block h2 {
            margin: 10px 0; }
      #container #content .block_content.big_content {
        width: 98%;
        height: 98%;
        margin-top: 1%; }
        #container #content .block_content.big_content .block_video {
          width: 55%; }
          #container #content .block_content.big_content .block_video iframe {
            width: 100%; }
          #container #content .block_content.big_content .block_video #bottom_video {
            width: 100%; }
            #container #content .block_content.big_content .block_video #bottom_video .tab {
              height: 40px;
              border-bottom: 1px solid #cfcfcf; }
              #container #content .block_content.big_content .block_video #bottom_video .tab a {
                display: inline-block;
                width: 200px;
                height: 40px;
                text-align: center;
                line-height: 40px; }
                #container #content .block_content.big_content .block_video #bottom_video .tab a:hover, #container #content .block_content.big_content .block_video #bottom_video .tab a.active {
                  border-bottom: 3px solid #6fc38e; }
            #container #content .block_content.big_content .block_video #bottom_video .content_tabs .content_tab {
              display: none; }
              #container #content .block_content.big_content .block_video #bottom_video .content_tabs .content_tab.active {
                display: block; }
        #container #content .block_content.big_content .block_notes {
          width: 42%; }
          #container #content .block_content.big_content .block_notes #VideoTextarea_tbl {
            width: 100% !important; }

#content_home {
  width: 250px;
  background: #FFF;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 12%; }
  #content_home input {
    padding: 5px;
    height: 35px;
    width: 100%;
    margin: 5px 0; }

#home_dome {
  position: absolute;
  bottom: 10%;
  right: 10%;
  text-align: right; }
  #home_dome a img {
    width: 85%; }
  #home_dome a:hover img {
    opacity: 0.7; }

#header {
  height: 100%;
  width: 10%;
  background-color: #FFF;
  float: left;
  position: relative; }
  #header #close_menu {
    z-index: 99;
    position: absolute;
    display: block;
    background-color: #FFF;
    width: 30px;
    height: 20px;
    right: -20px;
    top: 10px;
    cursor: pointer; }
    #header #close_menu:hover {
      right: -22px; }
  #header #menu {
    width: 100%;
    margin: 0 auto;
    font-family: 'adam', Arial, sans-serif;
    color: #000; }
    #header #menu li {
      cursor: pointer;
      display: inline-block;
      width: 100%;
      text-align: center;
      height: 60px;
      line-height: 30px;
      margin: 10% 0; }
      #header #menu li a {
        color: #000;
        height: 100%;
        width: 100%;
        display: inline-block; }
        #header #menu li a p {
          margin: 5px 0; }
      #header #menu li:first-child {
        height: 130px; }
      #header #menu li#menu-item-lessons #menu_lessons {
        z-index: 99;
        display: none;
        position: absolute;
        right: -250px;
        width: 250px;
        background-color: #FFF;
        margin-top: -75px; }
        #header #menu li#menu-item-lessons #menu_lessons li {
          cursor: pointer;
          height: 30px;
          line-height: 30px;
          padding: 0;
          border-bottom: 1px solid #DEDEDE;
          margin: 5px 0; }
          #header #menu li#menu-item-lessons #menu_lessons li .lessons-menu {
            display: none;
            position: absolute;
            right: -300px;
            background-color: #FFF;
            width: 300px;
            margin-top: -35px; }
          #header #menu li#menu-item-lessons #menu_lessons li:last-child {
            border: 0; }
      #header #menu li#menu-item-lessons:hover #menu_lessons {
        display: block; }
      #header #menu li#menu-item-close {
        border-top: 2px solid #000;
        width: 25%;
        margin: 0 auto;
        display: block;
        margin-top: 30px;
        padding-top: 20px; }

#user_block {
  z-index: 99;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #FFF;
  width: 32%;
  text-align: right; }
  #user_block span {
    font-family: 'adam', Arial, sans-serif;
    float: left;
    line-height: 26px;
    margin-right: 8px; }
  #user_block .input {
    float: left; }
  #user_block #buttons_users a {
    display: inline-block;
    margin: 0 2px; }

#search_lessons {
  width: 200px;
  height: 40px;
  border: 0; }

.highlight {
  background-color: yellow; }

.pole_presentation {
  display: inline-block;
  width: 22%;
  text-align: center;
  border: 1px solid #000; }

.block_dome {
  height: 100%; }
  .block_dome #block_noconnected {
    width: 61%;
    height: 97%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 99;
    left: 50%;
    margin-left: -330px;
    top: 50%;
    margin-top: -330px;
    border-radius: 50%; }
  .block_dome #drawing_dome {
    display: block;
    margin: 0 auto;
    position: relative;
    height: 100%;
    background-size: auto 100%;
    background-image: url(../img/main_dome.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; }

.item_dome {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute; }
  .item_dome a {
    height: 100%;
    width: 100%;
    display: block; }

.item_nav_video {
  display: inline-block;
  background: #D8D8D8;
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative; }
  .item_nav_video.active {
    background: #A5A5A5; }
  .item_nav_video a {
    color: #FFF;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 30px; }

.bloc_notes {
  width: 100%;
  height: 300px; }

#footer {
  position: absolute;
  bottom: 10px;
  right: 10px; }
  #footer .social_footer {
    display: inline-block;
    width: 48px;
    height: 46px; }
    #footer .social_footer#social_facebook {
      background: url(../img/icon_facebook.png); }
      #footer .social_footer#social_facebook:hover {
        background: url(../img/icon_facebook_hover.png); }
    #footer .social_footer#social_twitter {
      background: url(../img/icon_twitter.png); }
      #footer .social_footer#social_twitter:hover {
        background: url(../img/icon_twitter_hover.png); }

#block_help #block_donation {
  text-align: center; }
  #block_help #block_donation input, #block_help #block_donation button {
    padding: 5px;
    height: 40px;
    width: 80%;
    margin: 10px 0; }
#block_help #block_sendHelp form {
  margin-top: 20px; }
  #block_help #block_sendHelp form input, #block_help #block_sendHelp form button {
    padding: 5px;
    height: 30px;
    width: 100%;
    margin: 5px 0; }
    #block_help #block_sendHelp form input#firstname_helper, #block_help #block_sendHelp form input#lastname_helper, #block_help #block_sendHelp form button#firstname_helper, #block_help #block_sendHelp form button#lastname_helper {
      width: 49%;
      display: inline-block; }
    #block_help #block_sendHelp form input#description_helper, #block_help #block_sendHelp form button#description_helper {
      height: 50px; }
