/* ----- Colors ----- */
$green_hover: #6fc38e;
$green: #62bf7f;

$orange_hover: #e7743b;
$orange: #e66525;

$blue_hover: #489fd8;
$blue: #3886c7;

$yellow: #f9f291;

$light_grey: #cfcfcf;
$dark_grey: #444444;

$color_header: #F3F3F3;
$grey_text_header: #7A7A7A;


@font-face {
	font-family: 'effralight';
	src: url('../font/EffraLight-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'effraregular';
	src: url('../font/Effra-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'adam';
	src: url('../font/adam.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.center { text-align: center; }
a.disabled {
   pointer-events: none;
   cursor: default;
}

// POPUP
.popup {
	text-align: center;
	display: none;
	background-color: #fff;
	color: #111;
	display: none;
	width: 50%;
	padding: 25px;
	h2 {
		font-size: 1.3em;
		text-align: center;
	}
	p {
		margin: 20px; 
	}
	.button {
		width: 200px;
		display: inline-block;
	}
	.finishTuto {
		position: absolute;
		top: 6px;
		font-weight: bold;
		font-size: 0.9em;
		right: 10px;
	}
}

body, html { height: 100%; font-family: 'effraregular', Helvetica, Arial, sans-serif; }
ul { list-style-type:none; padding: 0; margin: 0; }
a { text-decoration: none; color: #000; }

h1 {
	text-align: center;
	font-size: 1.8em;
	font-weight: normal;
}
h2 {
	font-size: 1.8em;
	line-height: 1;
	font-family: 'adam';
	text-align: left;
	font-weight: normal;
}
h3 {
	font-size: 1em;
	font-weight: normal;
}


button, .button {
	border: 0;
	// border: 1px solid $orange;
	font-size: 13px;
	background-color: $orange;
	color: #FFF;
	border-radius: 2px;
	width: 100px;
	display: block;
	text-align: center;
	height: 28px;
	line-height: 25px;
	font-size: .95em;
	font-family: 'effraregular', Helvetica, Arial, sans-serif;
	transition: background 0.5s;
	&:hover {
		background-color: $orange_hover;
		cursor: pointer;
	}
	&.greenbutton {
		background-color: $green;
		&:hover {
			background-color: $green_hover;
		}
	}
	&.bluebutton {
		background-color: $blue;
		&:hover {
			background-color: $blue_hover;
		}
	}
	
}





#container {
	overflow: hidden;
	// background-image: url(../img/background_dome.jpg);
	background-image: url(../img/background_home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	&.sunrise {
		background: #f2eed5; /* Old browsers */
		background: -moz-linear-gradient(top,  #f2eed5 0%, #63b6ff 99%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2eed5), color-stop(99%,#63b6ff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f2eed5 0%,#63b6ff 99%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f2eed5 0%,#63b6ff 99%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f2eed5 0%,#63b6ff 99%); /* IE10+ */
		background: linear-gradient(to bottom,  #f2eed5 0%,#63b6ff 99%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2eed5', endColorstr='#63b6ff',GradientType=0 ); /* IE6-9 */
	}
	&.day {
		background: rgb(74,205,232); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(74,205,232,1) 0%, rgba(10,132,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(74,205,232,1)), color-stop(100%,rgba(10,132,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(74,205,232,1) 0%,rgba(10,132,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(74,205,232,1) 0%,rgba(10,132,255,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(74,205,232,1) 0%,rgba(10,132,255,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(74,205,232,1) 0%,rgba(10,132,255,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4acde8', endColorstr='#0a84ff',GradientType=0 ); /* IE6-9 */
	}
	&.sunset {
		background: rgb(36,60,108); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(36,60,108,1) 0%, rgba(199,93,90,1) 99%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,60,108,1)), color-stop(99%,rgba(199,93,90,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(36,60,108,1) 0%,rgba(199,93,90,1) 99%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(36,60,108,1) 0%,rgba(199,93,90,1) 99%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(36,60,108,1) 0%,rgba(199,93,90,1) 99%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(36,60,108,1) 0%,rgba(199,93,90,1) 99%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#243c6c', endColorstr='#c75d5a',GradientType=0 ); /* IE6-9 */
	}
	&.endsunset {
		background: rgb(36,60,108); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(36,60,108,1) 0%, rgba(61,3,53,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,60,108,1)), color-stop(100%,rgba(61,3,53,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(36,60,108,1) 0%,rgba(61,3,53,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(36,60,108,1) 0%,rgba(61,3,53,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(36,60,108,1) 0%,rgba(61,3,53,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(36,60,108,1) 0%,rgba(61,3,53,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#243c6c', endColorstr='#3d0335',GradientType=0 ); /* IE6-9 */
	}
	&.night {
		background: rgb(36,60,108); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(36,60,108,1) 0%, rgba(6,2,51,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,60,108,1)), color-stop(100%,rgba(6,2,51,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(36,60,108,1) 0%,rgba(6,2,51,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(36,60,108,1) 0%,rgba(6,2,51,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(36,60,108,1) 0%,rgba(6,2,51,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(36,60,108,1) 0%,rgba(6,2,51,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#243c6c', endColorstr='#060233',GradientType=0 ); /* IE6-9 */	
	}
	#content {
		float: right;
		width:90%;
		height: 100%;
		position: relative;
		// margin-top: 5%;

		.block_content {
			background: #FFF;
			padding: 10px;
			width: 80%;
			height: 82%;
			margin: 0 auto;
			margin-top: 5%;
			overflow: auto;
			&.big_content {
				width: 98%;
				height:91%;
				margin-top: 0;
			}
			&#index_all {
				font-size: 1.1em;
			}
		}

	}
}
#content_home {
	h1 {
		color: #FFF;
		font-size: 7em;
		margin-top: 0;
		margin-bottom: 40px;
		font-family: 'adam', Arial, sans-serif;
		text-shadow: 2px 2px #616161;
	}
	.users.form {
		width: 26%;
		background: #FFF;
		margin-left: 10%;
		position: relative;
		padding: 50px 15px 15px 15px;
		#logo {
			position: absolute;
			width: 90px;
			top: -45px;
			left: 50%;
			margin-left: -45px;
		}
		form {
			margin: 15px auto 0 auto;
			width: 90%;
			.input {
				margin: 0 0 15px 0;
				position: relative;
				input {
					width: 100%;
					height: 33px;
					padding: 6px 15px 5px;
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
					border: 1px solid #dadada;
					border-radius: 3px;
					color: #000;
					outline: none;
				}
				.caption {
					position: absolute;
					left: 10px;
					top: -10px;
					padding: 0 5px;
					background: #fff;
					font-size: 12px;
					color: #545555;
					cursor: default;
					opacity: 0;
				}
				&.active {
					.caption {
						opacity: 1;
						-webkit-transition: opacity 0.2s;
						-moz-transition: opacity 0.2s;
						-ms-transition: opacity 0.2s;
						-o-transition: opacity 0.2s;
						transition: opacity 0.2s;
					}
				} 
			}
			#img-captcha {
				float: left;
				margin-right: 10px;
				margin-bottom: 20px; 
			}
			#a-reload {
				font-size: 13px;
				font-style: italic;
				color: #545555;
			}
			.button {
				width: 50%;
				margin: 20px auto 10px auto;
			}	
		}
	}
	#home_dome {
		position: absolute;
		bottom: 10%;
		right: 10%;
		width: 42%;
		#wrapper_home_dome {
			cursor: pointer;
			display: none;
			text-align: center;
			width: 52%;
			margin: 0 auto;
			background: rgba(255, 255, 255, 0.91);
			position: absolute;
			left: 0;
			right: 0;
			top: 37%;
			height: 30%;
			padding: 3% 0 0 0;
		}
		&:hover {
			#wrapper_home_dome {
				display: block;
			}
		}
	}
}

#header {
	height: 100%;
	width: 10%;
	background-color: $color_header;
	float: left;
	position: relative;
	.menu { 
		width: 100%; 
		height: 100%;
		margin: 0 auto;
		font-family: 'adam', Arial, sans-serif;
		color: #000;
		font-size: .9em;
		ul {
			height: 100%;
			display: block;
			li {
				position: relative;
				cursor: pointer;
				width: 100%;
				text-align: center;
				height: 50px;
				margin: 18% auto;
				.hover_menu {
					position: absolute;
					width: 37%;
					right: 0;
					height: 120px;
					display: none;
					z-index: 99;
				}
				a {
					color: #000;
					height: 100%;
					display: inline-block;
					.icon {
						height: 80%;
						width : 27px;
						height : 27px;
						background-size : 27px;
						margin: 0 auto 5px auto;
					}
					p { 
						color: $grey_text_header;
						padding: 0 5px;
					}
				}
				&:hover, &.active {
					p { 
						color: #000;
					}
					a .icon {  
						background-position: 0 27px;
					}
				}
				&:first-child {
					height: 75px;
					img {
						height: 75%;
						margin-bottom: 5px;
					}
				}
				&#menu-item-lessons {
					a .icon { 
						background-image: url(../img/icon_lessons.png); 
						background-position: 0 0;
					}
					#menu_lessons {
						z-index: 20;
						display: none;
						position: absolute;
						right: -250px;
						width: 250px;
						background-color: #FFF;
						margin-top: -70px;
						height: auto;
						a {
							width: 100%;
						}
						li {
							cursor: pointer;
							height: 38px;
							line-height: 43px;
							padding: 0;
							border-bottom: 1px solid #DEDEDE;
							margin: 0 !important;
							.lessons-menu {
								display: none;
								position: absolute;
								right: -500px;
								background-color: #FFF;
								width: 500px;
								margin-top: -43px;
								height: auto;
								li:hover {
									background-color: rgba(0,0,0,0.05);
								}
							}
							&:last-child {
								border: 0;
							}
						}
					}
					&:hover {
						#menu_lessons {
							display: block;
						}
						a .icon {  
							background-position: 0 27px;
						}
					}
					&.active {
						a .icon {  
							background-position: 0 27px;
						}
					}
				}
				&#menu-item-help a .icon { background-image: url(../img/icon_help.png); }
				&#menu-item-friends a .icon { background-image: url(../img/icon_friends.png);}
				&#menu-item-about a .icon { background-image: url(../img/icon_about.png); }
				&#menu-item-imprint {
					height: 70px;
					a .icon { background-image: url(../img/icon_imprint.png); }
				}
				&#menu-item-contact a .icon { background-image: url(../img/icon_contact.png); }
			}
			#menu-item-close {
				width: 25%;
				border-top: 2px solid;
				padding-top: 15px;
				margin: 0 auto;
				display: block;
			}
		}
		&#menu_mobile {
			display: none;
			ul {
				li {
					height: 100% !important;
					display: inline-block;
					margin: 0 !important;
					width: 12%;
				}
			}
		}
	}
}
#small_header {
	width: 7%;
	text-align: center;
	position: absolute;
	top: 0;
	display: block;
	left: 0;
	z-index: 99;
	a {
		display: block;
		margin: 20px 0; 
	}
}

#user_block {
	z-index: 99;
	position: absolute;
	top: 8px;
	right: 20px;
	color: #FFF;
	width: 320px;
	text-align: right;
	span { font-family: 'adam', Arial, sans-serif; float: left; line-height: 26px; margin-right: 8px; }
	input { 
		float: left;
		padding: 8px;
		width: 130px;
		margin: 3px;
		border-radius: 1px;
		border: 1px solid #FFF;
		height: 28px;
		outline: none;
		&[type=submit] {
			@extend .button;
			padding: 5px;
			width: 40px;
			line-height: 18px;
			background-color: rgba(0, 0, 0, 0);
			border: 1px solid #FFF; 
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			filter: none;
			&:hover {
				border: 1px solid $orange; 
			}
		}
	}
	#forgot_pass {
		display: block;
	  	text-decoration: underline;
	  	width: 100%;
	}
	#buttons_users {
		a {
			display: inline-block;
			margin: 0 2px;
			width: 120px;
			&.button_login {
				background-color: rgba(0,0,0,0);
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				filter: none;
				border: 1px solid transparent;
				&:hover {
					border: 1px solid #FFF;
				}
			}
		}
	}

}

#search_form {
	margin: 10px 0;
	border-bottom: 1px solid $blue;
	input[type="text"] {
		width: calc(100% - 40px);
		height: 40px;
		border: 0;
		padding: 10px;
		font-size: 13px;
		outline: none;
		display: inline-block;
	}
	&::before {
		content: "";
		display: inline-block;
		height: 40px;
		width: 40px;
		background-image: url(../img/icon_search.png);
		float: left;
	}
}

.highlight {
	background-color: yellow;
}
.pole_presentation { 
	margin-top: 40px;
	width: 24%;
	margin: .5%;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	h3 {
		text-transform: uppercase;
		font-size: 1.1em;
		width: 80%;
		margin: 0 auto 20px auto;
		height: 45px;
		line-height: 18px;
		border-bottom: 2px solid $green;
	}
	ul {
		li {
			display: block;
			background: rgba(56, 134, 199, 0.18);
			line-height: 30px;
			border: 1px solid $blue;
			margin-bottom: 5px;
			a {
				display: block;
			}
			&:hover {
				background: rgba(56, 134, 199, 0);
			}
		}
	}
}


.block_dome {
	height: 100%;
	#block_noconnected {
		width: 660px;
		height: 660px;
		max-height: 100%;
		background-image: url(../img/img_blocnoconnected.png);
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: top center;
		position: absolute;
		z-index: 10;
		left: 50%;
		margin-left: -330px;
		top: 50%;
		margin-top: -330px;
		#wrapper_noconnected {
			text-align: center;
			width: 80%;
			margin: 38% auto;
			p {
				font-size: 1.3em;
			}
			a {
				display: inline-block;
				width: auto;
				margin: 4% auto;
				padding: 10px 30px;
				height: auto;
				font-size: 1.3em;
			}
		}
	}
	#wrapper_dome {
		height: 100%;
		svg {
			display: block;
			margin: 0 auto;
			height: 100%;
			max-width: 100%;
			polygon {
				-webkit-transition: .6s all;
    			transition: .6s all;
    			opacity: .5;
				&.active, &:hover {
					fill: $orange;
					opacity: 1;
				}
			}
		}
		#hover_dome {
			position: absolute;
			background-color: #FFF;
			display: none;
			top: 0;

			width: 200px;
			height: 100px;
			.content_hover {
				width: 90%;
				margin: 10px auto;
				img {
					display: inline-block;
					width: 15%;
					margin-right: 5%;
					vertical-align: top;
				}
				p {
					display: inline-block;
					width: 80%;
					vertical-align: top;
					margin: 0;
				}
				.progress {
					width: 100%;
					margin: 5px 0;
					text-align: center;
				}
			}
		}
	}
}


.item_dome {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	a { height: 100%; width: 100%; display: block; }
}

//PAGE player
#content_player {
	height: 100%;
	#header_player {
		width: calc(98% - 320px);
		width: -webkit-calc(98% - 320px);
		#navigation_videos {
			margin: 20px 0 5px 1.5%;
			.item_nav_video {
				display: block;
				background: #FFF;//$blue;
				width: 30px;
				height: 20px;
				text-align: center;
				position: relative;
				float: left;
				.title_video {
					display: none;
					position: absolute;
					top: -20px;
					color: #FFF;
					width: 100%;
					font-size: 0.9em;	
					white-space: nowrap;
				}
				&.active {
					background: $blue_hover;
					&::after{
						content: '';
						// background-image: url(../img/icon_arrow_down.png);
						width: 20px;
						height: 20px;
						display: block;
						position: absolute;
						right: -10px;
						top: 0;
						z-index: 10;
					}
					&:hover {
						a {
							span {
								// display: block;	
							}
						}
					}
				}
				a {
					color: #FFF;
					width: 100%;
					height: 100%;
					display: block;
					line-height: 20px;
					span {
						// display: none;
					}
				}
				&:hover {
					cursor: pointer;
					&:not(.active){
						background: #F1F1F1;
					}
					.title_video {
						display: block;
					}
					&::after{
						content: '';
						// background-image: url(../img/icon_arrow_down.png);
						width: 20px;
						height: 20px;
						display: block;
						position: absolute;
						right: -10px;
						top: 0;
						z-index: 10;
					}
				}
				&:last-child {
					.title_video { 
						left: 0;
					}
				}
			}
		}
	}
	.block_video {
		width: 100%;
		height: 75%;
		iframe {
			width: 60%;
			height: 100%;
		}
		#right_player {
			float: right;
			width: 40%;
			height: 100%;
			#header_right_player {
				background-color: rgba(0, 0, 0, 0.08);
				height: 67px;
				#img_learning {
					display: inline-block;
					width: 40px;
					margin-right: 7px;
				}
				h2 {
					text-align: left;
					font-size: 1.4em;
					display: inline-block;
					margin: 0;
					width: -moz-calc(100% - 60px);
					width: calc(100% - 60px);
					width: -webkit-calc(100% - 60px);
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				#navigation_video {
					height: 27px;
					line-height: 27px;
					background-color: rgba(0, 0, 0, 0.07);
					a {
						display: inline-block;
						width: 7%;
						margin: 0 1%;
						&#btn_addDome {
							float: right;
							width: 34%;
							height: 29px;
							line-height: 29px;
							color: #444;
							img {
								width: 14%;
								vertical-align: text-bottom;
								margin-right: 5px;
							}
						}
					}
				}
			}
			#block_right_videopage {
				height: -moz-calc(100% - 67px);
				height: calc(100% - 67px);
				height: -webkit-calc(100% - 67px);
				form {
					height: 100%;
					.block_videopage {
						display: none;
						width: 100%;
						height: -moz-calc(100% - 42px);
						height: calc(100% - 42px);
						height: -webkit-calc(100% - 42px);
						&.active {
							display: block;
						}
						&#summary {
							padding: 10px;
							// height: 310px;
							overflow: auto;
							ul {
								list-style-type: circle;
								padding-left: 20px;
								margin-left: 20px;
							}
						}
						&#block_notes {
							height: -moz-calc(100% - 80px);
							height: calc(100% - 80px);
							height: -webkit-calc(100% - 80px);
							#cke_bloc_notes {
								border: 0;
								.cke_combo_button {
									margin: 0 6px 0 0;
								}
								#cke_1_top {
									padding: 5px;
									width: 100%;
								}
								#cke_1_contents {
									height: auto !important;
								}
								#cke_1_bottom {
									display: none;
								}
							}
							.textarea {
								display: block;
								width: 100%;
								height: 100%;
								table {
									width: 100% !important;
									height: 100% !important;
									border-top: 0;
									border-left: 0;
									.mceIframeContainer {
										height: 100%;
										iframe {
											height: 100% !important;
										}
									}
								}
							}
							#VideoTextarea_tbl {
								width: 100% !important;
							}
						}
					} 
				}
			}
			h3 {
				font-size: 1.2em;
				text-transform: uppercase;
				font-weight: bold;
			}
			
		}
	}
	#infos_video {
		width: 60%;
		height: 23%;
		margin-top: 10px;
		float: left;
		h3 {
			font-size: 1.2em;
			margin: 0 0 10px 0;
			text-transform: uppercase;
		}
		img {
			float: left;
			vertical-align: top;
			margin-right: 10px;
		}
		.name_professor {
			font-style: italic;
			color: $dark_grey;
			line-height: 50px;
		}
		.buttons_professor {
			float: right;
			a {
				margin: 0px 20px 10% 0;
				background-color: #dbdbdb;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				filter: none;
				&:hover {
					background-color: $blue;
				}
				&.done {
					background-color: #7a7a7a;
				}
				&#btn_thanks {
					background-image: url(../img/icon_merci.png);
					background-repeat: no-repeat;
					background-position: 9px 5px;
					background-size: auto 64%;
					padding-left: 14px;
				}
			}
		}
	}
	#wrapper_annexes {
		float: right;
		width: 38%;
		height: 23%;
		border: 1px solid rgba(158, 158, 158, 0.3);
		margin: 1%;
		padding: 0.5% 1%;
		h3 {
			font-size: 1.2em;
			margin: 0 0 10px 0;
			text-transform: uppercase;
		}
	}
	#buttons_video_page {
		.button {
			width: 60%;
			margin: 10px auto;
		}
	}
}



#footer {
	position: absolute;
	bottom: 10px;
	right: 10px;
	.social_footer {
		display: inline-block;
		width: 38px;
		height: 38px;
		background-size: 38px;
		margin-right: 8px;
		&#social_facebook {
			background-image: url(../img/icon_facebook.png);
			background-position: 0 0;
			&:hover {
				background-position: 0 38px;
			}
		}
		&#social_twitter {
			background-image: url(../img/icon_twitter.png);
			background-position: 0 0;
			&:hover {
				background-position: 0 38px;
			}
		}
	}
		
}

#block_help {
	#wrapper_help {
		width: 95%;
		height: 100%;
		margin: 10px auto 0 auto;
		.block {
			width: 49%;
			height: 85%;
			background-color: #f5f6f1;
			.content_block {
				text-align: justify;
				width: 90%;
				margin: 10px auto;
				h3 {
					font-size: 1.2em;
					font-weight: bold;
					text-align: center;
				}
				h4 {
					color: #7A7A7A;
					font-size: 1em;
				}
				p {
					line-height: 1.4;
				}
			}
		}
		#block_donation {
			#btn_paypal {
				padding: 5px;
				height: 30px;
				width: 50%;
				margin: 40px auto 10px auto;
				line-height: 22px;
			}
		}
		#block_sendHelp {
			form {
				margin-top: 20px;
				input, button {
					padding: 5px;
					height: 30px;
					width: 100%;
					margin: 5px 0;
					&#firstname_helper, &#lastname_helper {
						width: 49%;
						display: inline-block;
					}
					&#description_helper {
						height: 50px;
					}
				}
			}
			.button {
				width: 50%;
				margin: 0 auto;
				display: block;
			}
			.link {
				text-align: center;
				text-decoration: underline;
				display: block;
			}
		}
	}
}


// ------ Page about ------
#wrapper_about {
	width: 92%;
	margin: 10px auto 0 auto;
	text-align: justify;
	h2 {
		margin: 15px 0 15px 0;
	}
	h3 {
		font-style: italic;
		color: $dark_grey;
		text-align: center;
		margin: 0 0 10px 0;
	}
	span {
		font-weight: 900;
	}
	.link {
		text-decoration: underline;
	}
	.button {
		width: 120px;
		margin: 20px auto 0 auto;
	}
}

// ------ Page imprint ------
#wrapper_imprint {
	width: 95%;
	margin: 20px auto 0 auto;
}

// ------ Page contact ------
#wrapper_contact {
	width: 95%;
	margin: 20px auto 0 auto;
	span {
		color: $orange;
	}
	p {
		margin: 0;
	}
	a {
		display: block;
		width: 20%;
		float: left;
		margin: 12% 6.5%;
		text-align: center;
	}
	.contact_icon {
		width: 80%;
		margin: 10px auto;
		display: block;
	}
}


// ------ Page signup -------
.form .txt-field::-webkit-input-placeholder {color:  #b1b3b5}
.form .txt-field::-moz-placeholder {color:  #b1b3b5}
.form .txt-field:-moz-placeholder {color:  #b1b3b5}
.form .txt-field:-ms-input-placeholder {color:  #b1b3b5}
.form .txt-field:focus::-webkit-input-placeholder {color: transparent}
.form .txt-field:focus::-moz-placeholder {color: transparent}
.form .txt-field:focus:-moz-placeholder {color: transparent}
.form .txt-field:focus:-ms-input-placeholder {color: transparent}
#page_signup {
	.form {
		width: 40%;
		margin: 0 auto;
		.input {
			margin: 0 0 20px 0;
			position: relative;
			input {
				width: 100%;
				height: 40px;
				padding: 6px 15px 5px;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				border: 1px solid #dadada;
				border-radius: 3px;
				color: #000;
				outline: none;
			}
			.caption {
				position: absolute;
				left: 10px;
				top: -10px;
				padding: 0 5px;
				background: #fff;
				font-size: 12px;
				color: #545555;
				cursor: default;
				opacity: 0;
			}
			&.active {
				.caption {
					opacity: 1;
					-webkit-transition: opacity 0.2s;
					-moz-transition: opacity 0.2s;
					-ms-transition: opacity 0.2s;
					-o-transition: opacity 0.2s;
					transition: opacity 0.2s;
				}
			} 
		}
		#img-captcha {
			float: left;
			margin-right: 10px;
			margin-bottom: 20px; 
		}
		#a-reload {
			font-size: 13px;
			font-style: italic;
			color: #545555;
		}
		.button {
			width: 50%;
			margin: 0 auto;
		}		
	}
}

//Page amis
#block_friends {
	#wrapper_friends {
		margin: 20px auto;
		width: 95%;
		ul {
			margin: 15px 0;
			li {
				width: 22%;
				display: inline-block;
				vertical-align: top;
				text-align: center;
				background-color: cornsilk;
				margin-right: 4%;
				margin-bottom: 10px;
				&:last-child {
					margin-right: 0;
				}
				.image_contributor {
					width: 90%;
					display: block;
					margin: 8px auto;
					// border-radius: 50%;
				}
				.name_contributor {
					font-weight: bold;
				}
				.poste_contributor {
					font-style: italic;
					margin-bottom: 8px;
				}
			}
		}
		#btn_becomeAFriend {
			width: 200px;
			display: block;
			margin: 30px auto 0 auto;
		}
	}
}

//Page learning 
#wrapper_polePage {
	margin: 20px auto;
	width: 95%;
	h2 {
		text-align: center;
	}
	ul {
		li {
			border: 1px solid $blue;
			margin-bottom: 10px;
			background-color: rgba(56, 134, 199, 0.1);
			a {
				padding: 10px;
				width: 100%;
				height: 100%;
				display: block;
				img {
					margin-right: 10px; 
					width: 50px;
					display: inline-block;
				}
				p {
					display: inline-block;
				}
			}
			&:hover {
				background-color: rgba(56, 134, 199, 0);
			}
			&.active {
				background-color: rgba(56, 134, 199, .9);
			}
		}
	}
}

//Page learning 
#wrapper_learningPage {
	margin: 20px auto;
	width: 95%;
	overflow: auto;
	height: 93%;
	#btn_addDome {
		background-color: $yellow;
		width: 300px;
		margin: 20px auto;
		color: #000;
	}
	#btn_removeDome {
		background-color: $green;
		width: 300px;
		margin: 20px auto;
	}
	h2 {
		text-align: center;
	}
	ul {
		li {
			border: 1px solid $blue;
			margin-bottom: 10px;
			background-color: rgba(56, 134, 199, 0.1);
			display: inline-block;
			width: 49%;
  			box-sizing: content-box;
			&:nth-child(2n+1) {
				margin-right: 1%;
			}
			a {
				padding: 10px;
				width: 100%;
				height: 100%;
				display: block;
				span {
					display: inline-block;
				}
				img {
					margin-right: 10px; 
					width: 50px;
					display: inline-block;
				}
				p {
					display: inline-block;
				}
			}
			&:hover {
				background-color: rgba(56, 134, 199, 0);
			}
			&.active {
				background-color: rgba(56, 134, 199, .9);
			}
		}
	}
}


// media queries 
@media screen and (max-width: 800px) {
	
	#container {
		overflow: auto;
		#content {
			float: none;
			width: 100%;
			.block_content {
				width: 90%;
			}
		}
	}

	#header {
		float: none;
		width: 100%;
		height: 100px;
		.menu {
			&#menu {
				display: none;
			}
			&#menu_mobile {
				display: block;
			}
		}
	}

}

@media screen and (max-width: 600px) {

	#container {
		#content {
			.block_content {
				width: 95%;
			}
		}
	}

	#block_friends {
		#wrapper_friends {
			ul {
				li {
					width: 30%;
				}
			}
		}
	}

}

@media screen and (max-width: 400px) {

	#block_friends {
		#wrapper_friends {
			ul {
				li {
					width: 45%;
				}
			}
		}
	}

}




