/* ----- Colors ----- */
$green: #6fc38e;
$green_hover: #62bf7f;

$orange: #e7743b;
$orange_hover: #e66525;

$blue: #489fd8;
$blue_hover: #3886c7;

$yellow: #f9f291;

$light_grey: #cfcfcf;
$dark_grey: #444444;

@font-face {
	font-family: 'effralight';
	src: url('../font/EffraLight-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'effraregular';
	src: url('../font/Effra-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'adam';
	src: url('../font/adam.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


body, html { height: 100%; font-family: 'effraregular', Helvetica, Arial, sans-serif; }
ul { list-style-type:none; padding: 0; margin: 0; }
a { text-decoration: none; color: #000; }

h1 {
	text-align: center;
	font-size: 1.8em;
	font-weight: normal;
}
h2 {
	text-align: center;
	font-size: 1.3em;
	font-weight: normal;
}
h3 {
	font-size: 1em;
	font-weight: normal;
}


button, .button {
	border: 0;
	// border: 1px solid $orange;
	background-color: $orange;
	color: #FFF;
	border-radius: 2px;
	width: 100px;
	display: block;
	text-align: center;
	height: 28px;
	line-height: 28px;
	-moz-box-shadow: 0px 2px 0px 0px #444;
	-webkit-box-shadow: 0px 2px 0px 0px #444;
	-o-box-shadow: 0px 2px 0px 0px #444;
	box-shadow: 0px 2px 0px 0px #444;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#444, Direction=180, Strength=0);
	&:hover {
		background-color: $orange_hover;
		cursor: pointer;
	}
	&.greenbutton {
		background-color: $green;
		&:hover {
			background-color: $green_hover;
		}
	}
}



#container {
	overflow: hidden;
	/*background: url(../img/bg_day.jpg) no-repeat;*/
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	&.sunrise {
		background: #f2eed5; /* Old browsers */
		background: -moz-linear-gradient(top,  #f2eed5 0%, #63b6ff 99%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2eed5), color-stop(99%,#63b6ff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f2eed5 0%,#63b6ff 99%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f2eed5 0%,#63b6ff 99%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f2eed5 0%,#63b6ff 99%); /* IE10+ */
		background: linear-gradient(to bottom,  #f2eed5 0%,#63b6ff 99%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2eed5', endColorstr='#63b6ff',GradientType=0 ); /* IE6-9 */
	}
	&.day {
		background: rgb(74,205,232); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(74,205,232,1) 0%, rgba(10,132,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(74,205,232,1)), color-stop(100%,rgba(10,132,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(74,205,232,1) 0%,rgba(10,132,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(74,205,232,1) 0%,rgba(10,132,255,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(74,205,232,1) 0%,rgba(10,132,255,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(74,205,232,1) 0%,rgba(10,132,255,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4acde8', endColorstr='#0a84ff',GradientType=0 ); /* IE6-9 */
	}
	&.sunset {
		background: rgb(36,60,108); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(36,60,108,1) 0%, rgba(199,93,90,1) 99%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,60,108,1)), color-stop(99%,rgba(199,93,90,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(36,60,108,1) 0%,rgba(199,93,90,1) 99%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(36,60,108,1) 0%,rgba(199,93,90,1) 99%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(36,60,108,1) 0%,rgba(199,93,90,1) 99%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(36,60,108,1) 0%,rgba(199,93,90,1) 99%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#243c6c', endColorstr='#c75d5a',GradientType=0 ); /* IE6-9 */
	}
	&.endsunset {
		background: rgb(36,60,108); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(36,60,108,1) 0%, rgba(61,3,53,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,60,108,1)), color-stop(100%,rgba(61,3,53,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(36,60,108,1) 0%,rgba(61,3,53,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(36,60,108,1) 0%,rgba(61,3,53,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(36,60,108,1) 0%,rgba(61,3,53,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(36,60,108,1) 0%,rgba(61,3,53,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#243c6c', endColorstr='#3d0335',GradientType=0 ); /* IE6-9 */
	}
	&.night {
		background: rgb(36,60,108); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(36,60,108,1) 0%, rgba(6,2,51,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,60,108,1)), color-stop(100%,rgba(6,2,51,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(36,60,108,1) 0%,rgba(6,2,51,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(36,60,108,1) 0%,rgba(6,2,51,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(36,60,108,1) 0%,rgba(6,2,51,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(36,60,108,1) 0%,rgba(6,2,51,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#243c6c', endColorstr='#060233',GradientType=0 ); /* IE6-9 */	
	}
	#content {
		float: right;
		width:90%;
		height: 100%;
		position: relative;
		// margin-top: 5%;

		.block_content {
			background: #FFF;
			padding: 10px;
			width: 75%;
			height: 80%;
			margin: 0 auto;
			margin-top: 5%;
			.block {
				width: 40%;
				height: 80%;
				background-color: #f5f6f1;
				margin: 0 5%;
				.content_block {
					width: 90%;
					margin: 0 auto;
					h2 {
						margin: 10px 0;
					}
				}
				
			}
			&.big_content {
				width: 98%;
				height: 98%;
				margin-top: 1%;
				.block_video {
					width: 55%;
					iframe {
						width: 100%;
					}
					#bottom_video {
						width: 100%;
						.tab {
							height: 40px;
							border-bottom: 1px solid $light_grey;
							a {
								display: inline-block;
								width: 200px;
								height: 40px;
								text-align: center;
								line-height: 40px;
								&:hover, &.active {
									border-bottom: 3px solid $green;
								}
							}
						}
						.content_tabs {
							.content_tab {
								display: none;
								&.active {
									display: block;
								}
							}
						}
					}
				}
				.block_notes {
					width: 42%;
					#VideoTextarea_tbl {
						width: 100% !important;
					}
				}
			}
		}

	}
}
#content_home {
	width: 250px;
	background: #FFF;
	padding: 10px;
	text-align: center;
	position: absolute;
	top: 20%;
	left: 12%;
	input {
		padding: 5px;
		height: 35px;
		width: 100%;
		margin: 5px 0;
	}
}
#home_dome {
	position: absolute;
	bottom: 10%;
	right: 10%;
	text-align: right;
	a {
		img {
			width: 85%;
		}
		&:hover img {
			opacity: 0.7;
		}
	}
}

#header {
	height: 100%;
	width: 10%;
	background-color: #FFF;
	float: left;
	position: relative;
	// margin-left: -10%;
	#close_menu {
		z-index: 99;
		position: absolute;
		display: block;
		background-color: #FFF;
		width: 30px;
		height: 20px;
		right: -20px;
		top: 10px;
		cursor: pointer;
		&:hover {
			right: -22px;
		}
	}
	#menu { 
		width: 100%; 
		margin: 0 auto;
		font-family: 'adam', Arial, sans-serif;
		color: #000;
		li {
			cursor: pointer;
			display: inline-block;
			width: 100%;
			text-align: center;
			height: 60px;
			line-height: 30px;
			margin: 10% 0;
			a {
				color: #000;
				height: 100%;
				width: 100%;
				display: inline-block;
				p { margin: 5px 0; }
			}
			&:first-child {
				height: 130px;
			}
			&:hover {

			}
			&#menu-item-lessons {
				#menu_lessons {
					z-index: 99;
					display: none;
					position: absolute;
					right: -250px;
					width: 250px;
					background-color: #FFF;
					margin-top: -75px;
					li {
						cursor: pointer;
						height: 30px;
						line-height: 30px;
						padding: 0;
						border-bottom: 1px solid #DEDEDE;
						margin: 5px 0;
						.lessons-menu {
							display: none;
							position: absolute;
							right: -300px;
							background-color: #FFF;
							width: 300px;
							margin-top: -35px;
						}
						&:last-child {
							border: 0;
						}
					}
				}
				&:hover #menu_lessons {
					display: block;
				}
			}
			&#menu-item-close {
				border-top: 2px solid #000;
				width: 25%;
				margin: 0 auto;
				display: block;
				margin-top:30px;
				padding-top: 20px;
			}
		}
	}
}

#user_block {
	z-index: 99;
	position: absolute;
	top: 20px;
	right: 20px;
	color: #FFF;
	width: 32%;
	text-align: right;
	span { font-family: 'adam', Arial, sans-serif; float: left; line-height: 26px; margin-right: 8px; }
	.input { float: left; }
	#buttons_users {
		a {
			display: inline-block;
			margin: 0 2px;
		}
	}

}

#search_lessons { 
	width: 200px;
	height: 40px;
	border: 0; 
}
.highlight {
	background-color: yellow;
}
.pole_presentation { 
	display: inline-block;
	width: 22%;
	text-align: center;
	border: 1px solid #000;
}


.block_dome {
	height: 100%;
	#block_noconnected {
		width: 61%;
		height: 97%;
		background-color: rgba(255, 255, 255, 0.5);
		position: absolute;
		z-index: 99;
		left: 50%;
		margin-left: -330px;
		top: 50%;
		margin-top: -330px;
		border-radius: 50%;
	}
	#drawing_dome {
		display: block;
		margin: 0 auto;
		position: relative;
		height: 100%;
		background-size: auto 100%;
		background-image: url(../img/main_dome.png);
		background-position: center;
		background-repeat: no-repeat;
		// width: 610px;
		width: 100%;
	}
}


.item_dome {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	a { height: 100%; width: 100%; display: block; }
}

.item_nav_video {
	display: inline-block;
	background: #D8D8D8;
	width: 30px;
	height: 30px;
	text-align: center;
	position: relative;
	&.active {
		background: #A5A5A5;
	}
	a {
		color: #FFF;
		width: 100%;
		height: 100%;
		display: block;
		line-height: 30px;
	}
}

.bloc_notes {
	width: 100%;
	height: 300px;
}

#footer {
	position: absolute;
	bottom: 10px;
	right: 10px;
	.social_footer {
		display: inline-block;
		width: 48px;
		height: 46px;
		&#social_facebook {
			background: url(../img/icon_facebook.png);
			&:hover {
				background: url(../img/icon_facebook_hover.png);
			}
		}
		&#social_twitter {
			background: url(../img/icon_twitter.png);
			&:hover {
				background: url(../img/icon_twitter_hover.png);
			}
		}
	}
		
}

#block_help {
	#block_donation {
		text-align: center;
		input, button {
			padding: 5px;
			height: 40px;
			width: 80%;
			margin: 10px 0;
		}
	}
	#block_sendHelp {
		form {
			margin-top: 20px;
			input, button {
				padding: 5px;
				height: 30px;
				width: 100%;
				margin: 5px 0;
				&#firstname_helper, &#lastname_helper {
					width: 49%;
					display: inline-block;
				}
				&#description_helper {
					height: 50px;
				}
			}
		}
		
	}
}

